
.navbar-nav {
    margin: 1;
    padding: 7.5px 15px;
    overflow:hidden;
}

#bootstrap_menu.navbar-default .navbar-brand {
  color: rgba(119, 119, 119, 1);
}

#bootstrap_menu.navbar-default {
  font-size: 25px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-width: 0;
}

#bootstrap_menu.navbar-default .navbar-nav>li>a {
  color: rgba(119, 119, 119, 1);
  background-color: rgba(255, 255, 255, 1);
}

#bootstrap_menu.navbar-default .navbar-nav>li>a:hover,
#bootstrap_menu.navbar-default .navbar-nav>li>a:focus {
  color: rgba(51, 51, 51, 1);
  background-color: rgba(187, 197, 199, 1);
}

#bootstrap_menu.navbar-default .navbar-nav>.active>a,
#bootstrap_menu.navbar-default .navbar-nav>.active>a:hover,
#bootstrap_menu.navbar-default .navbar-nav>.active>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(36, 193, 224, 1);
}

#bootstrap_menu.navbar-default .navbar-toggle {
  border-color: #24c1e0;
}

#bootstrap_menu.navbar-default .navbar-toggle:hover,
#bootstrap_menu.navbar-default .navbar-toggle:focus {
  background-color: #24c1e0;
}

#bootstrap_menu.navbar-default .navbar-toggle .icon-bar {
  background-color: #24c1e0;
}

#bootstrap_menu.navbar-default .navbar-toggle:hover .icon-bar,
#bootstrap_menu.navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #ffffff;
}

.top {
  background: linear-gradient(135deg, #1DE9B6 0%, #2979FF 100%);
  font-familt: 'Lato', sans-serif;
  color: white;
  height: 100vh;
  width: 100vw;
  padding-top: 250px;
  padding-bottom: 200px;
  overflow:hidden;
  
}

.header {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 70px;
  overflow:hidden;
}

.title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 80px;
  font-size: 8vw;
  overflow:hidden;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  overflow:hidden;
}

html,
body {
  
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  max-width: 100% !important;
}

.panel {
  box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
  overflow: hidden;
  transition: box-shadow 0.5s;
        height: 425px
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
  overflow:hidden;
}

.fa {
  font-size: 75px;
  color: grey;
}

.social .fa-facebook-official:hover {
  color: rgb(29, 230, 184);
}

.social .fa-github:hover {
  color: rgb(33, 200, 204);
}

.social .fa-linkedin:hover {
  color: rgb(37, 159, 230);
}

.container {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
