.top {
  background: linear-gradient(135deg, #1de9b6 0%, #2979ff 100%);
  font-family: "Lato", sans-serif;
  color: white;
  height: 100vh;
  width: 100vw;
  padding-top: 250px;
  padding-bottom: 200px;
  overflow: hidden;
}

.header {
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  overflow: hidden;
}

.title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 80px;
  font-size: 8vw;
  overflow: hidden;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  overflow: hidden;
}

.panel {
  box-shadow: 0 10px 25px rgba(0, 0, 0, .2);
  border-top: 10px;
  overflow: hidden;
  transition: box-shadow 0.5s;
        height: 425px
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
  overflow:hidden;
}

html,
body {
  height: 100%;
  font-family: "Josefin Sans", sans-serif;
  max-width: 100% !important;
}

#arrow {
  position: absolute !important;
  bottom: 0 !important;
  color: white;
  opacity: 0.25;
}

#arrow:hover {
  font-size: 4em;
  transition: 1s ease-out;
  opacity: 1;
}

.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

a {
  color: grey !important;
}

.social .fa-github:hover {
  color: rgb(33, 200, 204);
}

.social .fa-linkedin:hover {
  color: rgb(37, 159, 230);
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}

#hughImage {
  border-radius: 8px;
  width: 50%;
  height: auto;
  padding-top: 50px;
  background-size: contain;
}

@media (max-width: 700px) {
  #hughImage {
    border-radius: 8px;
    width: 80%;
    height: auto;
    padding-top: 50px;
    background-size: contain;  }
  }
